


@import "tailwindcss/base";

@import "tailwindcss/components";


@import "tailwindcss/utilities";



@layer base {
    @font-face {
        font-family: "Valkyrie T3";
        font-weight: normal;
        src: url('/fonts/valkyrie_t3_regular.woff') format('woff');
    }
    @font-face {
        font-family: "PT Sans";
        src: url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    }
}


